#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.master {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  border-style: solid;
  border-width: 2px;
  height: auto;
  width: 400px;
  padding: 1em;
  margin: .5em;
  align-items: center;
}

.dc {
  border-radius: .7em;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  width: 125px;
  padding: .7em;
  transition: width 1s, height 1s, margin 1s, transform 1s;
  margin: .2em;
}

.dc:hover {
  height: 35px;
  width: 150px;
  margin: .6em;
  transform: rotate(-7deg) translateX(4em) translateY(-.5em);
}

#orange {
  color: orange;
}

h1 {
  padding: 0;
  margin: 0;
}
