#root {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.master {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  border-style: solid;
  border-width: 2px;
  height: auto;
  width: 400px;
  padding: 1em;
  margin: .5em;
  align-items: center;
}

.post {
  background-color: #05122d;
  color: white;
}

.display {
  background-color: lightgray;
  color: black;
}

.dc {
  border-radius: .7em;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  width: 80%;
  padding: .7em;
  transition: width 1s, height 1s, margin 1s, transform 1s;
  margin: .2em;
  background-color: white;
}

.dc:hover {
  height: 35px;
  width: 66%;
  margin: .6em;
  transform: rotate(-3deg) translateX(3em) translateY(-.5em);
}

#orange {
  color: orange;
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  background-color: orange;
  color: black;
}